# SPDX-FileCopyrightText:  Open Energy Transition gGmbH
#
# SPDX-License-Identifier: CC0-1.0

[submodule "submodules/pypsa-eur"]
	path = submodules/pypsa-eur
	url = https://github.com/PyPSA/pypsa-eur
[submodule "submodules/technology-data"]
	path = submodules/technology-data
	url = https://github.com/PyPSA/technology-data
